Manifest.toml
docs/build/
docs/site/

docs/src/examples/gr.md
docs/src/examples/pgfplots.md
docs/src/examples/plotlyjs.md
docs/src/examples/pyplot.md

docs/src/examples/img/gr/
docs/src/examples/img/pgfplots/
docs/src/examples/img/plotlyjs/
docs/src/examples/img/pyplot/

docs/src/examples/img/index/
docs/src/examples/img/tutorial/
docs/src/examples/img/input/
docs/src/examples/img/animations/
docs/src/examples/img/contributing/
docs/src/examples/img/pipeline/
docs/src/examples/img/layout/

docs/src/*.html
