
table {
	border-collapse: collapse;
	text-align: left;
	max-width: 100%;
	font: normal 12p;
	background: #fff;
	overflow: hidden;
}
table td, table th {
	padding: 3px 5px;
	max-width: 100%;
}
table thead th:first-child {
	border: none;
}
table tbody td {
	font-size: 12px;
}
tr:nth-child(odd) {
	background: #f5f5f5;
}
tr.headerrow {
	font-size: 14px;
	font-weight: bold;
	background: #dbdbdb;
	border-bottom: 2px;
}
td.attr {
	font-weight: bold;
	max-width: 100%;
}
td.desc {
	min-width: 100%;
}
table tbody td:first-child {
	border-left: none;
}
table tbody tr:last-child td {
	border-bottom: none;
}
