name: docs

on:
 push:
  branches:
    - master
 workflow_dispatch:
 pull_request:
  branches:
    - master

jobs:
  Build_docs:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          repository: JuliaPlots/PlotDocs.jl
      - uses: julia-actions/setup-julia@v1
      - name: Cache artifacts
        uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y qt5-default \
            ttf-mscorefonts-installer \
            poppler-utils \
            pdf2svg \
            texlive-latex-base \
            texlive-binaries \
            texlive-pictures \
            texlive-latex-extra \
            texlive-luatex \
            ghostscript-x \
            libgconf2-4 \
            gnuplot
          ########################################
          # install fonts
          mkdir -p ~/.fonts
          repo="https://github.com/cormullion/juliamono"
          ver="$(git -c 'versionsort.suffix=-' ls-remote --tags --sort='v:refname' "$repo.git" | tail -n 1 | awk '{ print $2 }' | sed 's,refs/tags/,,')"
          url="$repo/releases/download/$ver/JuliaMono-ttf.tar.gz"
          echo "downloading & extract url=$url"
          wget "$url" -O - | tar -xz -C ~/.fonts
          ls ~/.fonts
          sudo fc-cache -vr
          fc-list | grep 'JuliaMono'
          ########################################

      - name: build documentation
        env:
          PYTHON: ""
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: |
          export JULIA_DEBUG=Documenter,PlotDocs,DemoCards
          export PLOTDOCS_ANSICOLOR=true
          export GKSwstype=nul  # Plots.jl/issues/3664
          export DOCUMENTER_DEBUG=true  # Democards.jl
          xvfb-run julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
          xvfb-run julia --project=docs/ docs/make.jl
